blinker
certifi
charset-normalizer
click
colorama
Flask
Flask-Mail
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
zipp
gunicorn
bcrypt
