{% extends 'base.html' %}

{% block title %}
   PM Music Academy
{% endblock %}


{% block content %}


  <!-- ======= About Section ======= -->
    <section id="about" class="about mt-5">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src="{{ url_for('static',filename='assets/img/pm.jpg')}}" alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>PRANIT MAWALE</h3>
            <p >
              <b>Music Director, Pianist, Keyboardist, Apple Certified Music Producer.</b>
            </p>
            <p >
              <b>Graduated from KMMC Russian Piano Studio. (Dr. A.R. Rehman Music College)</b>
            </p>
            <ul>
              <li></i> Experienced in Arranging music and Performing Piano solo's and Accompaning piano and keyboard for many classical, contemporary, fusion musician and composers including A.R. Rehman, Javed Ali and Amit Trivadi.</li>
              <li></i>Scored,composed and played original Piano Arrengements for (original motion picture soundtrack) movie "1921" work also famous as "Aggresive Piano Theme"</li>
              <li></i>Have arranged Rhythms for Marathi movie Aasud with legendary music director Anu Malik.</li>
              <li></i> 10 years of experience in in teaching Western Classical Music Theory And Western Classical Grand Piano and Keyboard.</li>
              <li></i>Assisted recording and producing music for musician in Chennai. Toured India Performing diffrent generes of Music Conserts including Bollywood music with A.R. Rehman, Javed Ali etc.</li>
              <li></i>Collabrated with Ace Theatre Director Actor Atul Kumar For music in his theatre project "Khwab Sa".An Adaptation of a Shakespearean play 'A Mid Summers's Night Dream'</li>
              <li></i>Performed with the 'SOI' "Symphony Orchestra Of India", played for legendary musician and singers like Anandji Bhai Shah,Suresh Wadkar, Talat Aziz, Jolly Mukharjee, Babul Supriyo directed by Sanjay Mahale music condected by Yogesh Pradhan.</li>
              
            </ul>
            <p>
             
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    {% endblock content %}